
  .navi{
    position: fixed;
    border: 1px solid black;
    width: 99%;
    background: bisque; 
    display: inline-block
  }

  #hero-inn{

    margin: auto;
    width: 60%;
    align-self: auto;
    text-align: center;

  }

  #liorPic{
    width: 30%;
    border-radius: 30%;
  }

  #firsth2{
    font-family: 'Indie Flower', cursive
  }

  @media (max-width: 1050px) {
    #liorPic {
      width: 100%;
    }
  }

  
  h1 {
    margin: 0;
    font-family: 'Roboto';
    text-align: center;
    font-weight: bold;
    padding: 15%;
  }
  
  section {
    padding: 5% 0;
    margin: auto
  }
  
  .text-center{
    text-align: center
  }

  .portCon{
    margin-left: auto;
    margin-right: auto;
  }

#frstRow{
  padding-top: 5%;
  margin: auto;
  width: 60%;
  align-self: auto;
  text-align: center;
}

#site1{
  width: 100%;

}

.sites{
  border: 1px solid grey;
  padding: 10px;
}